.hero
  height: 800px
  background: resolve('hero-bg.jpg') center / cover
  position: relative

  &:after
    content: ''
    position: absolute 0 0 0 0
    background: linear-gradient(67.01deg, #050E26 0%, #081B50 56.32%)
    opacity: 0.6
    z-index: 1

  &__container
    position: relative
    z-index: 2

  &__title
    text: #fff 43px

  &__text
    text: #fff 24px
  