header.header
  .header__container.container
    a.header__logo(href='#!')

    .header__nav
      a.header__nav-link(href='#!') Услуги
      a.header__nav-link.header__nav-link--active(href='#!') Кейсы
      a.header__nav-link(href='#!') О нас
      a.header__nav-link(href='#!') Команда
      a.header__nav-link(href='#!') Контакты

    button.header__btn.btn.btn--small.btn--white.btn--icon-dollar Начать зарабатывать

    button.header__mobile-menu