-
  var services = [
    {
      title: 'Обучение',
      subTitle: 'интернет трейдингу'
    },
    {
      title: 'Подбор',
      subTitle: 'надежного брокера'
    },
    {
      title: 'Доверительное',
      subTitle: 'управление активами'
    },
    {
      title: 'Индивидуальные',
      subTitle: 'торговые стратегии'
    },
    {
      title: 'Аналитика',
      subTitle: 'из европейских источников'
    },
    {
      title: 'Сопровождения',
      subTitle: 'торговых сделок специалистами'
    }
  ]

  var result = [
    {
      name: 'Рост индекса Dow Jones',
      desc: 'В сентябре 2017 года, аналитик Касимцев Борис давал ряд прогнозов в прямом эфире телеканала РБК. Одним из них был прогноз на рост американского индекса Dow Jones. Рекомендация полностью отработалась, цена индекса росла на протяжении всего IV квартала 2017 года, что дало нашим клиентам возможность заработать более 27% прибыли.',
      graph: '1'
    },
    {
      name: 'Рост индекса Dow Jones2',
      desc: 'В сентябре 2017 года, аналитик Касимцев Борис давал ряд прогнозов в прямом эфире телеканала РБК. Одним из них был прогноз на рост американского индекса Dow Jones. Рекомендация полностью отработалась, цена индекса росла на протяжении всего IV квартала 2017 года, что дало нашим клиентам возможность заработать более 27% прибыли.',
      graph: '1'
    },
    {
      name: 'Рост индекса Dow Jones3',
      desc: 'В сентябре 2017 года, аналитик Касимцев Борис давал ряд прогнозов в прямом эфире телеканала РБК. Одним из них был прогноз на рост американского индекса Dow Jones. Рекомендация полностью отработалась, цена индекса росла на протяжении всего IV квартала 2017 года, что дало нашим клиентам возможность заработать более 27% прибыли.',
      graph: '1'
    },
    {
      name: 'Рост индекса Dow Jones4',
      desc: 'В сентябре 2017 года, аналитик Касимцев Борис давал ряд прогнозов в прямом эфире телеканала РБК. Одним из них был прогноз на рост американского индекса Dow Jones. Рекомендация полностью отработалась, цена индекса росла на протяжении всего IV квартала 2017 года, что дало нашим клиентам возможность заработать более 27% прибыли.',
      graph: '1'
    },
    {
      name: 'Рост индекса Dow Jones5',
      desc: 'В сентябре 2017 года, аналитик Касимцев Борис давал ряд прогнозов в прямом эфире телеканала РБК. Одним из них был прогноз на рост американского индекса Dow Jones. Рекомендация полностью отработалась, цена индекса росла на протяжении всего IV квартала 2017 года, что дало нашим клиентам возможность заработать более 27% прибыли.',
      graph: '1'
    },
    {
      name: 'Рост индекса Dow Jones6',
      desc: 'В сентябре 2017 года, аналитик Касимцев Борис давал ряд прогнозов в прямом эфире телеканала РБК. Одним из них был прогноз на рост американского индекса Dow Jones. Рекомендация полностью отработалась, цена индекса росла на протяжении всего IV квартала 2017 года, что дало нашим клиентам возможность заработать более 27% прибыли.',
      graph: '1'
    },
    {
      name: 'Рост индекса Dow Jones7',
      desc: 'В сентябре 2017 года, аналитик Касимцев Борис давал ряд прогнозов в прямом эфире телеканала РБК. Одним из них был прогноз на рост американского индекса Dow Jones. Рекомендация полностью отработалась, цена индекса росла на протяжении всего IV квартала 2017 года, что дало нашим клиентам возможность заработать более 27% прибыли.',
      graph: '1'
    },
    {
      name: 'Рост индекса Dow Jones8',
      desc: 'В сентябре 2017 года, аналитик Касимцев Борис давал ряд прогнозов в прямом эфире телеканала РБК. Одним из них был прогноз на рост американского индекса Dow Jones. Рекомендация полностью отработалась, цена индекса росла на протяжении всего IV квартала 2017 года, что дало нашим клиентам возможность заработать более 27% прибыли.',
      graph: '1'
    },
    {
      name: 'Рост индекса Dow Jones9',
      desc: 'В сентябре 2017 года, аналитик Касимцев Борис давал ряд прогнозов в прямом эфире телеканала РБК. Одним из них был прогноз на рост американского индекса Dow Jones. Рекомендация полностью отработалась, цена индекса росла на протяжении всего IV квартала 2017 года, что дало нашим клиентам возможность заработать более 27% прибыли.',
      graph: '1'
    },
 {
      name: 'Рост индекса Dow Jones10',
      desc: 'В сентябре 2017 года, аналитик Касимцев Борис давал ряд прогнозов в прямом эфире телеканала РБК. Одним из них был прогноз на рост американского индекса Dow Jones. Рекомендация полностью отработалась, цена индекса росла на протяжении всего IV квартала 2017 года, что дало нашим клиентам возможность заработать более 27% прибыли.',
      graph: '1'
    },
 ]
  

  var tools = [
    {
      title: 'Акции',
      desc: 'Покупка акций предусматривает два варианта заработка: либо вы зарабатываете на дивидендных выплатах, либо вы извлекаете прибыль с помощью купли-продажи. Вы можете сделать выбор в пользу как дивидендов, так и активной торговли, в зависимости от вашей готовности зарабатывать.'
    },
    {
      title: 'Золото',
      desc: 'Большинство инвесторов используют золото, в первую очередь, как средство сохранения капитала в кризис. Благодаря таким факторам, как инфляция, финансовая нестабильность и геополитическая ситуация - золото обладает высокой волатильностью и позволяет приумножать и сохранять ваши средства.'
    },
    {
      title: 'Криптовалюта',
      desc: 'Электронная валюта, которая взбудоражила весь мир за последние 3 года. Сейчас не требуется быть программистом, чтобы купить криптовалюты, достаточно выбрать брокера, ведь через брокера вы можете заработать не только на росте криптовалюты, но и на ее падении.'
    },
    {
      title: 'Forex',
      desc: 'Работайте с валютами развивающихся стран и кросс-курсами и зарабатывайте на мировых кризисах, экономических и геополитических событиях 24 часа в сутки. Валюты - это совершенный инструмент для извлечения прибыли как в течении одного дня, так и в долгосрочной перспективе.'
    }
  ]

  var offices = [
    {
      title: 'Тольятти',
      text: 'ул. Юбилейная 40, бизнес-центр «Вега», 16 этаж, офис 1615.'
    },
    {
      title: 'Самара',
      text: 'Московское шоссе, 4а ст 2, бизнес-центр «Скала Холл», 19 этаж, офис 195, 191, 77.'
    },
    {
      title: 'Уфа',
      text: 'ул. Менделеева 128/3, бизнес-центр «Треугольник», 5 этаж, офис 9, ст 2.'
    },
  ]