@import 'inc/var.sss'
@import 'inc/reset.css'
@import 'inc/btns.sss'
@import 'inc/modals.sss'
@import 'inc/typo.sss'

@import 'blocks/header.sss'

@import 'blocks/hero.sss'
@import 'blocks/services.sss'
@import 'blocks/tools.sss'
@import 'blocks/results.sss'
@import 'blocks/expert.sss'
@import 'blocks/why.sss'
@import 'blocks/team.sss'
@import 'blocks/gallery.sss'
@import 'blocks/offices.sss'

@import 'blocks/footer.sss'