section.action
  .action__container.container
    .action__block
      .action__photo
        .action__photo-text
          | Борис Косимцев
          .action__photo-text-small специалист компании STC

        .action__photo-img

      .action__wrap
        .action__title Получить бесплатную консультацию от компетентного специалиста компании STC
        .action__text Узнай как получать стабильный доход от финансовых инвестиций! Зарегистрируйся прямо сейчас и получи 
          .action__text-mark бесплатную консультацию!

      .action__recall.box.box--echo
        form.action__recall-form.form(action='#')
          .input.action__recall-input
            input.input__elem(type='text' name='name' placeholder='Имя')

          .input.action__recall-input
            input.input__elem(type='text' name='phone' placeholder='Телефон')

          button.action__recall-btn.btn Получить консультацию

          +form-success()(class='form__success--horizontal form__success--hide-text')
        
