section.expert.block#expert

  .container
    .expert__inner
      .expert__text
        h1.expert__title.h1(data-aos) Признанная экспертность
        
        h4.expert__sub-title.h4(data-aos) Мы не боимся публичности. С нами работают известные аналитики которые являются частыми гостями на телеканале РБК и крупных финансовых порталах.

      .expert__button
        a.btn.btn--circle.btn--xl.btn--icon-video.btn--echo(data-aos)
        p.expert__button-desc(data-aos) Смотреть интервью<br> c Борисом на канале РБК

      .expert__google(data-aos)
        .expert__google-item
          img.expert__google-img(data-aos)(src='img/expert/search-result-1.jpg')
        .expert__google-item
          img.expert__google-img(data-aos)(src='img/expert/search-result-2.jpg')
        .expert__google-item
          img.expert__google-img(data-aos)(src='img/expert/search-result-3.jpg')



