section.gallery.gallery--mobile-hide(data-aos)
  .gallery__item.gallery__item--1.gallery__item--md(data-src='img/gallery/1-full.jpg' data-prev='gallery__item--10' data-next='gallery__item--2')
  .gallery__item.gallery__item--2.gallery__item--lg(data-src='img/gallery/2-full.jpg' data-prev='gallery__item--1' data-next='gallery__item--3')
  .gallery__item.gallery__item--3(data-src='img/gallery/3-full.jpg' data-prev='gallery__item--2' data-next='gallery__item--4')
  .gallery__item.gallery__item--4(data-src='img/gallery/4-full.jpg' data-prev='gallery__item--3' data-next='gallery__item--5')
  .gallery__item.gallery__item--5.gallery__item--md(data-src='img/gallery/5-full.jpg' data-prev='gallery__item--4' data-next='gallery__item--6')
  .gallery__item.gallery__item--6.gallery__item--md(data-src='img/gallery/6-full.jpg' data-prev='gallery__item--5' data-next='gallery__item--7')
  .gallery__item.gallery__item--7(data-src='img/gallery/7-full.jpg' data-prev='gallery__item--6' data-next='gallery__item--8')
  .gallery__item.gallery__item--8(data-src='img/gallery/8-full.jpg' data-prev='gallery__item--7' data-next='gallery__item--9')
  .gallery__item.gallery__item--9.gallery__item--lg(data-src='img/gallery/9-full.jpg' data-prev='gallery__item--8' data-next='gallery__item--10')
  .gallery__item.gallery__item--10.gallery__item--md(data-src='img/gallery/10-full.jpg' data-prev='gallery__item--9' data-next='gallery__item--1')

  .gallery__btn.btn.btn--small.btn--gray Показать ещё фото
  