section.hero
  .hero__container.container
    .row
      .col-12.col-md-8
        .hero__title.h1 STC cosulting – ваш надежный проводник в мире финансов

        .hero__text Начните зарабатывать реальные деньги на финансовых рынках без многолетнего опыта и больших инвестиций

        a.hero__btn.btn.btn--outline.btn--white.btn--sm(href='#!')
          i.icon.icon--play
          | Смотреть видео о компании

      .col-12.col-md-4