section.hero
  .hero__container.container
    .hero__text-wrap
      .hero__title.h1 STC cosulting – ваш надежный проводник в мире финансов

      .hero__text Начните зарабатывать реальные деньги на финансовых рынках без многолетнего опыта и больших инвестиций

      a.hero__btn.btn.btn--small.btn--white.btn--icon-play(href='#!') Смотреть видео о компании

    .hero__recall.box.box--echo
      .hero__recall-title Заявка на консультацию
      .hero__recall-text Оставьте свои данные и наши финансовые советники ответят на любые вопросы, в удобное для вас время

      form.hero__recall-form(action='#')
        .input.hero__recall-input
          input.input__elem(type='text' name='name' placeholder='Имя')

        .input.hero__recall-input
          input.input__elem(type='text' name='phone' placeholder='Телефон')

        button.hero__recall-btn.btn.btn--secondary Получить консультацию
