section.offices#offices
  h1.offices__title.h1(data-aos) Офисы STC

  .offices__container.container

    .glide.offices__slider
      .glide__bullets.glide__bullets--only-sm(data-glide-el='controls[nav]' data-glide-generate-false)
        each office, i in offices
          .offices__bullet(data-glide-dir='=' + i)= office.title
        
      .glide__track(data-glide-el='track')
        .glide__slides
          each office, i in offices
            .glide__slide.offices__slide(data-aos)
              .offices__item
                .offices__item-img(class='offices__item-img--' + (i+1))

                .offices__item-content
                  .offices__item-title(data-aos data-aos-anchor='.offices__slide')= office.title
                  .offices__item-text(data-aos data-aos-anchor='.offices__slide')= office.text
                  .offices__item-phone(data-aos data-aos-anchor='.offices__slide') + 8 800 55 06 216

                  .offices__item-btn.btn.btn--small(data-show-id='office' + (i+1)) Связаться с офисом


  #map


script(type='text/javascript' src='scripts/map.js')
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKHMTkHEWFerdIYypni1ca3XTW511OVfQ&callback=initMap" async defer)
