section.results.block#results

  .container
    h1.results__title.h1 Наши результаты
    
    h4.results__sub-title.h4 У нас одна цель - высокие доходы наших клиентов

    .results__slider.box--echo
      .glide
        
        .results__inner.block-inner.glide__track(data-glide-el='track')
          .glide__slides
            each item in result
              .glide__slide
                .results__item
                  .results__legend
                    .results__person= item.name
                    .results__legend-desc= item.desc
                    a.results__link(href="#!") Смотреть результат

                    
                  .results__graph
                    img.results__graph-img(src='img/results/graph-' + item.graph + '.svg')

          .glide__panel
            .glide__count
              span.glide__count-current 2
              span  / 
              span.glide__count-all 10
            .glide__bullets.glide__bullets.glide__bullets--lighter-sm(data-glide-el='controls[nav]')
            .glide__arrows(data-glide-el='controls')
              button.glide__arrows-item.glide__arrows-item--prev(data-glide-dir='<')
              button.glide__arrows-item.glide__arrows-item--next(data-glide-dir='>')
