section.services#services
  
  .services__container.container
    h1.services__title.h1(data-aos) Что мы предоставляем
    
    .services__slider
      .glide
        
        .services__inner.block-inner.glide__track(data-glide-el='track')
          
          .glide__slides
            each item in services
              .glide__slide.services__item(data-aos)
                .services__service
                  .services__img(data-aos data-aos-anchor='.glide__slide.services__item')
                  .services__service-title.h3(data-aos data-aos-anchor='.glide__slide.services__item')= item.title
                  .services__service-sub-title(data-aos data-aos-anchor='.glide__slide.services__item')= item.subTitle
            
        .glide__bullets.glide__bullets--only-sm(data-glide-el='controls[nav]')