section.services#services
  
  .services__container.container
    h1.services__title.h1.easeBox Что мы предоставляем
    
    .services__slider
      .glide
        
        .services__inner.block-inner.glide__track(data-glide-el='track')
          
          .glide__slides
            each item in services
              .glide__slide.services__item.easeBox
                .services__service
                  .services__img
                  .services__service-title.h3= item.title
                  .services__service-sub-title= item.subTitle
            
        .glide__bullets.glide__bullets--only-sm(data-glide-el='controls[nav]')