section.tools.block

  .container
    h1.tools__title.h1.easeBox Наши инструменты
    
    h4.tools__sub-title.h4.easeBox Мы специализируемся на следующих биржевых инструментах:

    .tools__inner.block-inner

      each item in tools
        .tools__item.easeBox
          .tools__tool
            .tools__img
            .tools__item-title= item.title
            .tools__item-desc= item.desc

