section.tools.block

  .container
    h1.tools__title.h1 Наши инструменты
    
    h4.tools__sub-title.h4 Мы специализируемся на следующих биржевых инструментах:

    .tools__inner.block-inner

      each item in tools
        .tools__item
          .tools__tool
            //- .tools__img-wrap
            //-   .tools__img
            //- .tools__text-wrap
            .tools__img
            .tools__item-title= item.title
            .tools__item-desc= item.desc

