include inc/head.pug
include inc/header.pug

include blocks/hero.pug
include blocks/services.pug
include blocks/tools.pug
include blocks/results.pug
include blocks/expert.pug
include blocks/why.pug
include blocks/action.pug
include blocks/team.pug
include blocks/gallery.pug
include blocks/offices.pug

include inc/footer.pug
include inc/foot.pug