include inc/head.pug

.style
  .style__row
    .btn Кнопка
    .btn.btn--secondary Кнопка
    .btn.btn--small Кнопка
    .btn.btn--small.btn--secondary Кнопка
    .btn.btn--small.btn--gray Кнопка

  .style__row.style__row--dark
    button.header__nav-btn.btn.btn--small.btn--white.btn--icon-dollar Начать зарабатывать
    a.hero__btn.btn.btn--small.btn--white.btn--icon-play(href='#!') Смотреть видео о компании
    .btn.btn--circle.btn--xl.btn--icon-video.btn--echo

  .style__row
    .btn.btn--circle.btn--icon-vk
    .btn.btn--circle.btn--icon-in
    .btn.btn--circle.btn--icon-fb

    .input
      input.input__elem(type='text' name='name' placeholder='Имя')
    .input.input--error
      input.input__elem(type='text' name='name' placeholder='Ошибка')
      
include inc/foot.pug