include inc/head.pug

.style
  .style__row
    .btn Кнопка
    .btn.btn--secondary Кнопка
    .btn.btn--small Кнопка
    .btn.btn--small.btn--secondary Кнопка
    .btn.btn--small.btn--gray Кнопка

  .style__row
    .input
      input.input__elem(type='text' name='name' placeholder='Имя')
    .input.input--error
      input.input__elem(type='text' name='name' placeholder='Ошибка')
      
include inc/foot.pug