include inc/head.pug
include inc/header.pug

.style
  .btn Кнопка
  .btn.btn--secondary Кнопка
  .btn.btn--small Кнопка
  .btn.btn--small.btn--secondary Кнопка
  .btn.btn--small.btn--gray Кнопка

include inc/footer.pug
include inc/foot.pug